.react-matrix-table-corner-cell {
  width: 100%;
  height: 100%;
  display: flex !important;
  align-items: center;
  justify-content: center;

  .text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }
}
