@use './variables' as *;
@use './mixin' as mixin;

.#{$prefix} {
  .text-ellipsis {
    @include mixin.text-ellipsis;
  }
  &-cell {
    position: absolute;
    border: 1px solid $border-color;
    padding: 5px;
    @include mixin.text-ellipsis;
  }
  &-tree-icon {
    margin-right: 4px;
  }
  &-tree-label {
    vertical-align: middle;
    @include mixin.text-ellipsis;
  }  
}

