@use './variables' as *;
@use './mixin' as mixin;
@use './area';
@use './cell'; 
@use './scrollbar';

.#{$prefix} {
  display: flex;
  flex-direction: column;
  border: 1px solid $border-color;
  overflow: hidden;
}
